.CodeMirror {
	font-family: 'Ubuntu', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif !important;
}

.cm-code-quote {
		font-family: "Ubuntu Mono", "Lucida Console", monospace;
		color: #888;
}

.code.CodeMirror-line {
		font-family: "Ubuntu Mono", "Lucida Console", monospace;
}

.code-unformatted.CodeMirror-line {
		font-family: "Ubuntu Mono", "Lucida Console", monospace;
		color: #888;
}

.code-start.CodeMirror-line {
		color: #888;
}

.code-end.CodeMirror-line {
		color: #888;
		padding-top: 0.2em;
}

.cm-indent {
		font-family: "Ubuntu Mono", "Lucida Console", monospace;
}
.cm-tab {
		display: inherit!important;
		// fixes bug with inline-none and custom indenting
}
.cm-bullet {
		font-family: "Ubuntu Mono", "Lucida Console", monospace;
		color: #5cc;
}

.cm-meta {
		color: #5cc !important;
}

.cm-checkbox-tag {
		color: #bbb;
		font-family: "Ubuntu Mono", "Lucida Console", monospace;
}

.cm-checkbox-value {
		color: #5cc !important;
		font-family: "Ubuntu Mono", "Lucida Console", monospace;
}

.cm-email-href {
		color: #5cc !important;
}

.cm-link-text {
		color: #5cc !important;
}

.cm-link-href {
		color: #5cc !important;
}

.cm-link-tag {
		color: #bbb;
}

.cm-header-tag {
		color: #bbb;
}

.header-1.CodeMirror-line {
		font-size: 175%;
}
.header-2.CodeMirror-line {
		font-size: 140%
}
.header-3.CodeMirror-line {
		font-size: 120%
}
.header-4.CodeMirror-line {
		font-size: 110%
}
